<context>
    <properties>
        <property key="log-level" value="debug"/>
        <property key="server-ip" value="192.168.0.0:8087"/>
    </properties>

    <test-graph switch="true"
                path="$CONFIGURE{}/test_recmd/test_recmd_graph.xml"
                dataFolder="$CONFIGURE{}/test_recmd/test_recmd_data"/>
</context>